<ion-view title="{{titulo}}" hide-back-button="true">

    <ion-content>

        <div class="list card">
            <div class="item item-avatar">
                <img ng-src="{{item.path}}">
                <h2>{{item.id}} - {{item.texto}}</h2>
                <p>{{item.descricao}}</p>
            </div>
            <div class="item item-body">
                <img class="full-image" ng-src="{{item.path}}">
                <p>
                    {{item.texto}}
                </p>
            </div>
        </div>

    </ion-content>

</ion-view>