<ion-view title="Galeria" hide-back-button="true">

    <ion-content style="margin-left: 2%; margin-right: 2%">

        <div class="text-center" style="margin-bottom: 3%; margin-top: 3%">
            <img src="img/logo.png" width="60px" height="60px" />
        </div>

        <form name="loginForm" novalidate="">

            <label class="item item-input input-login" ng-class="{ 'has-errors' : loginForm.username.$invalid && loginForm.$submitted, 'no-errors' : loginForm.username.$valid}" style="margin-top : 2%">
                <i class="icon fa fa-user placeholder-icon"></i>
                <input type="text" name="username" ng-model="userModel.username" ng-maxlength="30" required
                        placeholder="Informe o usu&#225;rio" to-upper-case="false">
            </label>

            <div class="error-container" ng-if="loginForm.username.$invalid && loginForm.$submitted" ng-messages="loginForm.username.$error">
                <div ng-messages-include="validateForm.html"></div>
            </div>

            <label class="item item-input input-login" ng-class="{ 'has-errors' : loginForm.password.$invalid && loginForm.$submitted, 'no-errors' : loginForm.password.$valid}">
                    <i class="icon fa fa-lock placeholder-icon"></i>
                <input type="password" name="password" ng-model="userModel.password" ng-maxlength="30" required
                    placeholder="Informe a senha">
            </label>

            <div class="error-container last-error-container" ng-if="loginForm.password.$invalid && loginForm.$submitted" ng-messages="loginForm.password.$error">
                <div ng-messages-include="validateForm.html"></div>
            </div>

            <div style="margin-top: 4%">
                <button class="button button-block button-dark" ng-click="logar(loginForm)">
                    Logar
                </button>
            </div>

        </form>

    </ion-content>

</ion-view>